
<sl-card id="{{ leaf.name }}" class="preview">
  
  <div slot="header">
    {{ leaf.front['Title'] }}
  </div>

  <img
    slot="image"
    src="/assets/images/{{ leaf.front['Image'] }}"
  />

</sl-card>
