{% import 'macros/icon_button.jinja2' as IconButton %}
{% import 'macros/action_button.jinja2' as ActionButton %}


<sl-card id="{{ leaf.name }}">
  
  <div slot="header" id="card-header">
    <div id="title">
      {{ leaf.front['Title'] }}
    </div>
    <div id="authors">
      {{ leaf.front['AuthorShort'] }}
    </div>
  </div>

  <img
    slot="image"
    src="/assets/images/{{ leaf.front['Image'] }}"
  />

  {{ leaf.content_html|safe }}


  {% for tag in leaf.front['Tags'] %}
    <sl-tag size="small" pill class={{tag}}>{{ tag }}</sl-tag>
  {% endfor %}

  <div slot="footer">
  {{ IconButton.render(leaf.front['ScholarUrl'], "Google Scholar profile", "fab-google-scholar") }}
  {{ IconButton.render(leaf.front['UniUrl'], "University profile page", "fas-building-columns") }}
  {{ IconButton.render(leaf.front['LabUrl'], "Lab website", "fas-flask") }}

  {{ ActionButton.render(leaf.front['SignupUrl'], "Sign up as participating lab", "fas-user-plus") }}
  {{ IconButton.render(leaf.front['OsfUrl'], "OSF Material", "fas-recycle") }}
  {{ IconButton.render(leaf.front['DoiUrl'], "Open Manuscript", "fas-arrow-up-right-from-square") }}
  
  {{ IconButton.render(leaf.front['Pdf'], "Open PDF", "far-file-pdf") }}
  </div>

</sl-card>
