
<sl-card id="{{ leaf.name }}" class="preview">
  
    <h3>{{ leaf.front['Title'] }}</h3> {# could wrap in h3 #}

    {% if 'Image' in leaf.front %}

        <img
            slot="image"
            src="/assets/images/{{ leaf.front['Image'] }}"
        />

    {% else %}

        {# body slot https://shoelace.style/components/card 
        .preview::part(body) {
                background: var(--sl-color-neutral-0);
                border: solid 1px tomato;
            }
        #}
        {{ leaf.content_html|safe }}

  {% endif %}

</sl-card>
