{% extends 'master.jinja2' %}

{% block main %}

<article id="{{ index.name }}">

    <p>
        {{ index.content_html|safe }}
    </p>

    <div class="card-filter">
        <sl-dropdown style="display:none;">
            <sl-button slot="trigger" caret>Filter</sl-button>
            <sl-menu>
                <sl-menu-item value="none">None</sl-menu-item>
            </sl-menu>
        </sl-dropdown>
    </div>

    <div class="card-grid">
    {% for leaf in index.leaves %}
        {% include 'card_full.jinja2' %}
    {% endfor %}
    </div>

</article>

{% endblock %}