{% extends 'master.jinja2' %}

{% block main %}

<article id="{{ index.name }}">

    <p>
        {{ index.content_html|safe }}
    </p>

    {% for branch in index.branches %}
        {% include 'section.jinja2' %}
    {% endfor %}

    {% for branch in index.leaves %}
        {% include 'section.jinja2' %}
    {% endfor %}

</article>

{% endblock %}