
<section>

    <h2>{{ branch.name }}</h2>

    <div class="preview-grid">
    {% for leaf in branch.leaves[:3] %}
        {% include 'card_preview.jinja2' %}
    {% endfor %}
    </div>
    <a href="/{{ branch.name }}">See all {{ branch.leaves|length }} {{ branch.name }}</a>

</section>

