body {
    margin: 0;
    background-color: #F7F7F7;
    font-family: "Public Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

img {
    height: 100px;
}

#logo {
    height: 60px;
}

/* these sometimes appear in html from markdown */
hr {
    display: none;
}

/* temp style */

#body-container {
    margin-top: 60px;
    min-height: calc(100vh - 80px); /* push footer down. 80px = header+footer */
    overflow: hidden; /* prevents child elements' margins from pushing this around  */
}
div#content {
    width: 75%;
    margin: auto;
}
nav#menu {
    height: 40px;
    width:100%;
    padding: 8px;
    overflow: visible; /* if the floating menu wraps around, extend this nav */
    z-index: 1;     /* always on top */
    position: fixed;  /* attached to the top */
    top: 0;
    font-size: 16px;
    font-weight: normal;
}
nav#menu a {
    color: #666666;
    text-decoration: none;
}
nav#menu a:hover {
    color: black;
}
nav#menu ul {
	float: right;
	margin: 0;
	padding: 8px 8px 0 0;
	list-style-type: none;
}
nav#menu li {
	display: inline;
	margin: 0 1em 0 0;
}


/* footer */
footer {
    height: 30px;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    color: rgb(131, 140, 149);
    font-size: 12px;
    font-weight: normal;
    padding: 5px 4em;
    text-align: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* 
    INDEX
*/

article {
    max-width: 600px;
    margin: auto;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

/*  
    SECTION
*/

section {
    max-width: 400px;
    padding: 10px;
}

/*  
    CONTACT SECTION
*/
section#contact {
    max-width: none;
}

#contact ul {
    list-style-type: none;
    text-align: justify;
}

#contact ul {
    list-style-type: none;
    text-align: justify;
}

#contact li {
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: rgb(49, 49, 49);
}

#contact a {
    color: black;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

#contact img {
    height: 40px;
    display: block;
    margin: auto;
}

/*  
    REPLICATION SECTION
*/

#replications blockquote {
    max-height: 200px;
    overflow: hidden;
}

#replications blockquote {
    max-height: 200px;
    overflow: hidden;
}