{% import 'defaults/icon_button.jinja2' as IconButton %}
{% import 'defaults/action_button.jinja2' as ActionButton %}


<sl-card id="{{ section.name }}">
  
  <div slot="header">
    {{ section.front['Title'] }}
  </div>

  <img
    slot="image"
    src="/assets/images/{{ section.front['Image'] }}"
  />

  {{ section.content_html|safe }}

  {{ ActionButton.render(section.front['SignupUrl'], "Sign up as participating lab", "fas-user-plus") }}
    <br>

  {% for tag in section.front['Tags'] %}
    <sl-tag size="small" pill>{{ tag }}</sl-tag>
  {% endfor %}

  {{ IconButton.render(section.front['ScholarUrl'], "Google Scholar profile", "fab-google-scholar") }}
  {{ IconButton.render(section.front['UniUrl'], "University profile page", "fas-building-columns") }}
  {{ IconButton.render(section.front['LabUrl'], "Lab website", "fas-flask") }}
  {{ IconButton.render(section.front['DoiUrl'], "Open Manuscript", "fas-arrow-up-right-from-square") }}
  {{ IconButton.render(section.front['Pdf'], "Open PDF", "far-file-pdf") }}

</sl-card>
