<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content="ie=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono">
    <link rel="stylesheet" href="/assets/css/index.css">
    <title>eegmanylabs</title>
</head>
<body>
<img id="logo" src="/assets/images/logo.png">

<h3>main menu</h3>
{% for child in root.children %}
    <a href="/{{ child.name }}/">{{ child.name }}</a>
{% endfor %}

{% block main %}{% endblock %}

</body>
</html>