{% extends 'master.jinja2' %}

{% block main %}

<h3>local menu</h3>

{% for child in node.children %}
    <a href="{{ child.name }}/">{{ child.name }}</a>
{% endfor %}


{{ node.content_html|safe }}

{% endblock %}