body {
    font-family: 'JetBrains Mono', serif;
    font-size: 13px;
    margin: 20px;
    background-color: #f9f4e3;
}

/* BIO */

.bio-section {
    font-size: 16px;
    width: 500px;
    margin: auto;
    color: #585858;
}

.bio-section img {
    width: 200px;
    float: right;
}